@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif !important;
}

/*
@media screen and (max-width: 992px) {
  body {
    font-size: 0.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
*/
