{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">About this site</h1>
    <h2><strong>First of all, some important information...</strong></h2>
    <p>
    This site is in no way affiliated, supported or endorsed by BC Ferries. The data provided here is purely for informational purposes, and is not an official representation of BC Ferries' schedules. To view the official schedules and current conditions for all BC Ferries routes, click <a href="https://www.bcferries.com/current_conditions/">here</a>.
    </p>
    <br>
    <h2><strong>So what is this?</strong></h2>
    <p>
    I made this in my spare time as a way to learn a few things, and also to present information on something that I - as a resident of Victoria - find useful, and in a clean, readable way.
    </p>
    <p>
    I also thought it might be interesting to see if it's possible to generate useful statistics about things such as how quickly sailings fill up, or which sailings are more likely to be late.
    </p>
    <br>
    <h2><strong>Contacting me</strong></h2>
    <p>You can contact me by e-mail at <a href="mailto:andy@nsnw.ca">andy@nsnw.ca</a>, or you can find me on Twitter as <a href="https://twitter.com/ve7cxz">@ve7cxz</a>.
    </p>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static "frontend/dist/js/bundle.js" %}"></script>
{% endblock %}
