{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Frequently Asked Questions</h1>
    <h2><strong>Where does the information on this site come from?</strong></h2>
    <p>
    All of the information contained on this site is taken from the BC Ferries website - in particular:-
    <ul>
      <li> <a href="https://www.bcferries.com/current_conditions/actualDepartures.html">Departures and Arrivals</a></li>
      <li> <a href="https://www.bcferries.com/current_conditions/terminals.html">Terminals at a Glance</a></li>
      <li> <a href="https://www.bcferries.com/current_conditions/vessel_positions.html">Vessel positions</a></li>
    </ul>
    </p>
    <h2><strong>The route I'm looking for is missing!</strong></h2>
    <p>
    Unfortunately, BC Ferries doesn't provide live information for all routes. The information they do provide is limited to the major routes between south Vancouver Island, some of the Gulf Islands and the mainland.
    </p>
    <h2><strong>I've found a bug, what do I do?</strong></h2>
    <p>
    Let me know! Drop me an email (to <a href="mailto:andy@nsnw.ca">andy@nsnw.ca</a>) with the details and I'll take a look!
    </p>
    <h2><strong>I've had an idea!</strong></h2>
    <p>
    Again, let me know - to the same address above! I can't promise anything, as this is something I work on in my spare time, but if it's a good idea I'll see what I can do.
    </p>
    <h2><strong>Technical details! Hit me!</strong></h2>
    <p>
    This site is built using <a href="https://www.djangoproject.com/">Django</a> (which is a Python web framework) and the front-end uses <a href="https://reactjs.org/">React</a> to dynamically generate the information pages. The process that retrieves the data from the BC Ferries website is also written in Python and makes heavy use of <a href="https://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>, which is indispensible for parsing other web pages. The backend database in use is <a href="https://www.postgresql.org/">PostgreSQL</a>, and the whole thing is running in <a href="https://www.docker.com/">Docker</a> containers, using <a href="http://dokku.viewdocs.io/dokku/">Dokku</a> to simplify deployment
    </p>
    <p>
    There is an API of sorts (which you can see if you poke around under the hood), but it's by no means guaranteed to be stable.
    </p>
    <p>
    The source code is not yet publicly available, mostly due to it being an utter mess that I need to clean up first. This will change in the near future.
    </p>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static "frontend/dist/js/bundle.js" %}"></script>
{% endblock %}
