<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-primary" role="navigation" aria-label="main navigation">
  <a class="navbar-brand" href="/">
    <b>🌊 FerryStatus</b>
  </a>

  <button class="navbar-toggler" onclick="$('#navbarSupportedContent').toggleClass('collapse')" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/routes">
        Routes
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sailings">
        Sailings
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/ferries">
        Ferries
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">
        About
        </a>
      </li>
    </ul>
  </div>
</nav>
