{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Privacy policy</h1>
    <h2><strong>What data does this site collect?</strong></h2>
    <p>
    This site does not intentionally collect any data about users. However, as is standard practice for websites, the following information is logged for each request:-
    <ul>
      <li>the user's IP address</li>
      <li>the user's browser's <a href="https://en.wikipedia.org/wiki/User_agent">User agent</a> information</li>
      <li>the page the user requested</li>
    </ul>
    This information is retained solely for diagnostic and security purposes, and is automatically deleted after a few weeks. No attempts are made to associate this information with an individual.
    </p>
    <h2><strong>What cookies does this site use?</strong></h2>
    <p>
    This site may set cookies to store state for certain parts of the site. These are used to store user settings.
    </p>
    <p>
    This site does not make use of any 3rd-party cookies.
    </p>
    <h2><strong>What tracking or analytics does this site use?</strong></h2>
    <p>
    At the moment, this site does not perform any analytics either in-browser or on the server side. If this changes, it will be clearly communicated on the front page of this site
    </p>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static "frontend/dist/js/bundle.js" %}"></script>
{% endblock %}
